<div *ngIf="type ==1 && ExternalInfo && ExternalInfo.count>0 " id="finalPrint" class=" row box " id="actaEntrega" >
    <div [attr.class]="onPrintCss(12)">
        <div class="row">
            <div [attr.class]="onPrintCss(5)">
                <img src="/img/logo.png">
            </div>
        </div>
        <div class="row">
            <h1 class="text-bold text-center" style="font-size: 20px; margin-bottom: 30px;">Acta de Entrega</h1>
        </div>
        <div class="row" style="margin-bottom: 30px;">
            <div [attr.class]="onPrintCss(6)">
                <label>Date :  {{formatDate(ExternalInfo.list[0][0].fecha,'DD-MM-YYYY')}}</label>
            </div>
            <div [attr.class]="onPrintCss(6)">
                <label [attr.class]="onPrintCss(12)">Invoice No. {{ExternalInfo.list[0][0].Referencia}} </label>
                <label [attr.class]="onPrintCss(12)">Orden de  Compra</label>
            </div>

        </div>


        <div class="row" style="margin-bottom: 30px">

            <table [attr.class]="onPrintCss(12)">
                <thead>
                <tr>
                    <td [attr.class]="onPrintCss(5)" style="border: 1px solid;">{{ExternalInfo.list[0][0].nombreTipoAccion=='Salida'?'Cliente':'Proveedor'}}</td><td [attr.class]="onPrintCss(2)"></td><td [attr.class]="onPrintCss(5)" style="border: 1px solid;">Empresa</td>
                </tr>
                </thead>
                <tbody class="borderclass">
                <tr>
                    <td [attr.class]="onPrintCss(5)"><label class="test-bold">Nombre : </label>{{elementPrint[0].name}}</td><td></td><td [attr.class]="onPrintCss(5)"><label class="test-bold">Nombre : </label>{{elementPrint[1].name}}</td>
                </tr>
                <tr>
                    <td [attr.class]="onPrintCss(5)"><label class="test-bold">Ruc : </label>{{elementPrint[0].ruc}}</td><td></td><td [attr.class]="onPrintCss(5)"><label class="test-bold">Ruc : </label>{{elementPrint[1].ruc}}</td>
                </tr>
                <tr>
                    <td [attr.class]="onPrintCss(5)"><label class="test-bold">Direccion : </label>{{elementPrint[0].direc}}</td><td></td><td [attr.class]="onPrintCss(5)"><label class="test-bold">Direccion : </label>{{elementPrint[1].direc}}</td>
                </tr>
                <tr>
                    <td [attr.class]="onPrintCss(5)"><label class="test-bold">Telefono : </label>{{elementPrint[0].contac}}</td><td></td><td [attr.class]="onPrintCss(5)"><label class="test-bold">Contacto : </label>{{elementPrint[1].contac}}</td>
                </tr>

                <tr >
                    <td style="border-top: 1px solid;" class="NoBorder"></td><td></td><td style="border-top: 1px solid;" class="NoBorder"></td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="row" style="margin-bottom: 30px">
            <table [attr.class]="onPrintCss(12)"  border="1" style=" border: 1px solid;">
                <thead >
                <tr style=" border: 1px solid;">
                    <th style=" border: 1px solid;" class="col-lg-1">Cantidad</th><th class="text-center" style=" border: 1px solid;">Descripcion</th>
                </tr>
                </thead>
                <tbody>
                <tr  style=" border: 1px solid;" *ngFor="let product of ExternalInfo.list[1]">
                    <td  [attr.class]="onPrintCss(1)" style=" border: 1px solid;">{{product.CantidadProducto}}</td><td [attr.class]="onPrintCss(11)" style=" border: 1px solid;">{{product.detalleProducto}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row" style="margin-bottom: 30px">
            <div class=" col-lg-5 col-md-5 col-xs-5 col-sm-5 pull-right" >
                <table>
                    <tr>
                        <td ><div style="margin: 5px">Despachador: </div></td><td > <div style="margin: 5px">{{myglobal.user.name}}</div></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row" style="margin-bottom: 30px">
            <div [attr.class]="onPrintCss(6)">
                <label [attr.class]="onPrintCss(12)" >RECIVIDO POR: </label>
                <label [attr.class]="onPrintCss(12)" >NOMBRE:    _____________________</label>
                <label [attr.class]="onPrintCss(12)" >FECHA:     _____________________</label>
                <label [attr.class]="onPrintCss(12)" >FIRMA:     _____________________</label>
                <label [attr.class]="onPrintCss(12)" >CEDULA:    _____________________</label>
            </div>
            <div [attr.class]="onPrintCss(6)">
                <label [attr.class]="onPrintCss(12)" >ENTREGADO POR:</label>
                <label [attr.class]="onPrintCss(12)" >NOMBRE:    _____________________</label>
                <label [attr.class]="onPrintCss(12)" >FECHA:     _____________________</label>
                <label [attr.class]="onPrintCss(12)" >FIRMA:     _____________________</label>
                <label [attr.class]="onPrintCss(12)" >CEDULA:    _____________________</label>

            </div>
        </div>


    </div>
    {{onPrint('actaEntrega')}}
</div>
