
<div class="row">
    <div class="col-lg-11 ">
        <div class="panel-group" id="accordion" >

            <div  *ngFor="let data of dataList.list" class="panel-default " style="margin-bottom: 5px">
                <div class="panel-heading">

                    <a data-toggle="collapse" data-parent="#accordion" [attr.href]="'#'+data['id']" (click)="searchDetalles(data)">
                        <div class="col-lg-1">
                            <span class="fa fa-user fa-lg" style="font-size: 30px;"></span>
                        </div>
                        <div>
                            <h4 class="panel-title row">
                                <div class="col-lg-5"><label>{{paramSearch.label['title']}} </label>{{data['title']}}</div>
                                <div class="col-lg-5"><label>{{paramSearch.label['detail']}} </label>{{data['detail']}}</div>
                            </h4>
                        </div>

                    </a>
                </div>
                <div  [attr.id]="data['id']" class="panel-collapse collapse">
                    <div  *ngIf="data.detailsSearh && data.detailsSearh['id']" class="panel panel-default">
                        <div class="panel-body">

                            <div *ngIf="rulesDetails.image" class="col-lg-3 col-centered">
                                <figure>
                                    <img class="img-circle"  src="{{data.detailsSearh[image] || '/img/user.png' }}">
                                </figure>
                            </div>

                            <div  class="col-lg-4 col-centered">

                                <label *ngFor="let key of getKeysText(data)" class="col-centered col-lg-12"><strong class="text-bold">{{rulesDetails[key].title}}:</strong>
                                    <a  x-editable  [disabled]="!rulesDetails[key].update "  [endpoint]="externalEndPoint" [function]="onEditable" [data]="data.detailsSearh" [rules]="rulesDetails" [field]="key"></a>


                                    <!--label>{{data.detailsSearh[key]}}</label-->
                                </label>

                            </div>
                            <div class="col-lg-3">
                                <div class="col-lg-12">

                                    <button *ngFor="let keyArray of getKeysArray(data)" data-toggle="modal"  data-target='#modalArray'
                                             class="btn " type="button" (click)="DataArraySelect(keyArray,data)">
                                        {{rulesDetails[keyArray].buttonTitle}}
                                    </button>

                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div *ngIf="dataList && dataList.page && dataList.page.length > 1 " class="row text-right">
    <table class="col-lg-11">
        <tbody>
            <tr>
                <td>
                    <div class="btn-group pull-right">


                        <button *ngIf="MaxPager()>5" (click)="loadData(1)" type="button" class="btn btn-default">
                            <<
                        </button>

                        <button *ngFor="let val of dataList.page" (click)="loadData(val)" type="button" class="btn btn-default" [class.btn-info]="offset == (val - 1) * max">
                            {{val}}
                        </button>


                        <button (click)="loadAll($event)" type="button" class="btn btn-default">
                            <i class="fa fa-list"></i>
                        </button>

                        <button *ngIf="MaxPager()>5" (click)="loadData(MaxPager())" type="button" class="btn btn-default">
                            >>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>



<div *ngIf="dataArraySelect && dataArraySelect.key" class="modal fade" [attr.id]="'modalArray'" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">


            <div class="modal-header btn-info text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="listasTipoModal">
                    &nbsp;<strong>{{rulesDetails[dataArraySelect.key].title}}</strong></h4>
            </div>
            <div class="modal-body">

                <div class="row">

                    <div class="col-lg-10 col-lg-offset-1">
                        <table class="table table-hover">
                            <tbody>

                            <tr *ngFor="let data of externalList[dataArraySelect.key].list" >
                                <td >
                                    <strong >{{data.title}}</strong><br >
                                    {{data.detail}}
                                </td>
                                <td  style="vertical-align: middle;">

                                    <a (click)="data.flag=!data.flag">
                                        <button *ngIf="data.flag"  class="btn btn-success"  type="button">
                                            <i class="fa fa-check"></i>
                                        </button>
                                        <button *ngIf="!data.flag" class="btn btn-red"  type="button">
                                            <i class="fa fa-close"></i>
                                        </button>
                                    </a>

                                </td>
                            </tr>

                            </tbody>
                        </table>

                    </div>

                </div>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outlined btn-info fa fa-close" data-dismiss="modal">&nbsp;Cancelar</button>
                <button (click)="changeArray()" data-dismiss="modal" type="button"
                        class="btn btn-info fa fa-check-circle-o ">&nbsp;Aceptart
                </button>
            </div>



        </div>
    </div>
</div>