
<div class="content-wrapper">
    <section class="content">
        <div class="box">

            <div *ngIf="listType && listType.count > 0">
                <reports [permissions]="permissions" [paramsTable]="paramsTable" [viewOptions]="viewOptions" [rules]="rules" [endPointAct]="endPointAct" [endPointHis]="endPointHis" [listType]="listType"></reports>

            </div>


        </div>
    </section>
</div>