
<div class="content-wrapper">
    <section class="content">
        <div class="box">

            <reports [permissions]="permissions" [paramsTable]="paramsTable" [viewOptions]="viewOptions" [rules]="rules" [endPointAct]="endPointAct" [endPointHis]="endPointHis"></reports>

        </div>
    </section>
</div>