<div class="wrapper" *ngIf="myglobal.init">
    <div *ngIf="validToken()">
        <header class="main-header">

                    <a href="index.html" class="logo">
                         <span class="logo-mini">
                            <img src="assets/img/logo-blanco-mini.png" class="img-responsive">
                         </span>
                        <span class="logo-lg"> <img src="/img/logo.png" class="img-responsive col-lg-9  col-xs-4"> </span>
                    </a>



            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <!-- Notifications Menu -->
                        <li class="dropdown notifications-menu">

                            <ul class="dropdown-menu">
                                <li>
                                    <ul class="menu">
                                        <li><!-- start notification -->
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <!-- end notification -->
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="{{myglobal.user.image?myglobal.user.image:'assets/img/user-guest.png'}}" class="user-image" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">{{myglobal.user.username}}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="{{myglobal.user.image?myglobal.user.image:'assets/img/user-guest.png'}}" class="img-circle" alt="User Image">

                                    <p>
                                        {{pageTitle}}
                                        <small *ngIf="pageSubtitle">{{pageSubtitle}}</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" [routerLink]="['Profile']" class="btn btn-default btn-flat">Perfil</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" (click)='logout($event)' class="btn btn-default btn-flat">Salir</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">

                        <div class="pull-left image">
                            <img src="{{myglobal.user.image?myglobal.user.image:'assets/img/user-guest.png'}}" class="img-circle">
                        </div>
                        <div class="pull-left info">
                            <p>{{myglobal.user.name}}</p>
                            <!-- Status -->
                            <i class="fa fa-building text-success"></i> {{myglobal.user.companyName}}
                            <!--<p><a href="#" (click)="loadPermisos($event)"><i class="fa fa-refresh">Permisos</i></a></p>-->
                        </div>

                </div>

                <ul class="sidebar-menu" >

                    <li class="header" ><i class="fa fa-circle text-success"></i> {{myglobal.user.email}}</li>

                    <li  *ngFor="let item of menuItemsVisible(menuItems)"
                         [class.treeview]="item.treeview"
                         [class.active]="item.key && activeMenuId==item.key"
                    >
                        <a *ngIf="item.routerLink" href="#" [routerLink]="[item.routerLink]">
                            <i class="{{item.icon}}"></i>
                            <span>{{item.title}}</span>
                        </a>
                        <a *ngIf="item.key" (click)="activeMenu($event,item.key)">
                            <i class="{{item.icon}}"></i>
                            <span>{{item.title}}</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul *ngIf="item.treeview" class="treeview-menu">
                            <li  *ngFor="let subItem of menuItemsVisible(item.treeview)">
                                <a *ngIf="subItem.routerLink" href="#" [routerLink]="[subItem.routerLink]">
                                    <i class="{{subItem.icon}}"></i>
                                    <span>{{subItem.title}}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
    </div>
    <router-outlet></router-outlet>


</div>
<div class="main-footer-container" *ngIf="validToken()">
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            Inventario, C.A
        </div>
        <strong>Copyright &copy; 2015 <a href="#">Inventario</a>.</strong> Todos los derechos reservados.
    </footer>
</div>