

<div *ngIf="myglobal.existsPermission('1') && rulesFilter">
    <filter [rules]="rulesFilter" [params]="paramsFilter" (whereFilter)="loadWhere($event)"></filter>
</div>


<button  *ngIf="myglobal.existsPermission('1') && existFilter()"
        type="button" class="btn btn-blue pull-right"
        data-toggle="modal" [attr.data-target]="'#'+paramsFilter.idModal">
    <i class="fa fa-filter"></i>&nbsp;Filtrar
</button>
<table class="table table-striped table-hover orderColumn" *ngIf="dataList && dataList.count>0">
    <thead>
        <tr>
            <th  *ngFor="let key of keyVisible() " (click)="orderByColumn(key)"  >{{rules[key].title}}  <a ><i [style.color]="sort == key ?'red':'black'" class="fa" [class.fa-angle-down]="sort != key || order != 'asc'  " [class.fa-angle-up]="sort == key && order == 'asc'  " aria-hidden="true"></i></a> </th>
            <th *ngIf="params.actions" class="noCursor"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of dataList.list">
            <td *ngFor="let key of keyVisible()" class="button-tables">

             <a *ngIf="rules[key].type =='date'">{{formatDate(data[key],rules[key].format)}}</a>

              <a *ngIf="!rules[key].object &&  rules[key].type !='boolean' &&  rules[key].type !='date' &&  rules[key].update " x-editable  [disabled]="!rules[key].update "  [endpoint]="params.endpoint" [function]="onEditable" [data]="data" [rules]="rules" [field]="key"></a>
              <a *ngIf="!rules[key].object &&  rules[key].type !='boolean' &&  rules[key].type !='date' &&  !rules[key].update " >{{data[key]}}</a>

              <a *ngIf="rules[key].object &&   rules[key].type =='text'">
                 {{data[key]}}
                 <label>
                     <button *ngIf="rulesSearch[key]" type="button" class="btn btn-box-tool"
                             (click)="loadSearchTable(key,data)"
                             data-toggle="modal" [attr.data-target]="'#'+rulesSearch[key].idModal">
                         <i class="fa fa-search text-blue"></i>
                     </button>

                     <button *ngIf="externalSave[rules[key].key]" type="button" class="btn btn-box-tool"
                             (click)="loadSaveTable(rules[key].key,data)" type="button" class="btn btn-box-tool"

                             data-toggle="modal" [attr.data-target]="'#'+externalSave[rules[key].key].paramsSave.idModal">
                         <i class="fa fa-plus text-green"></i>
                     </button>
                 </label>
             </a>
             <button  *ngIf="!rules[key].object &&  rules[key].type =='boolean' &&  key =='enabled'" class="btn" [class.btn-green]="data[key]" [class.btn-red]="!data[key]" (click)="onLock(key,data)">{{data[key]?rules[key].states[0]:rules[key].states[1]}}</button>
             <button  *ngIf="!rules[key].object &&  rules[key].type == 'boolean' &&  key !='enabled'" class="btn" [class.btn-green]="data[key]" [class.btn-red]="!data[key]" (click)="onPatch(key,data)">{{data[key]?rules[key].states[0]:rules[key].states[1]}}</button>



                <button  data-toggle="modal"  data-target='#modalArray'  *ngIf="rules[key].object &&   rules[key].type =='array'"
                         class="btn " type="button" (click)="DataArraySelect(key,data)">
                    {{rules[key].buttonTitle}}
                </button>





            </td>
            <td *ngIf="params.actions" class="button-tables">

                <div class="btn-group dropdown pull-right"  *ngIf="keyActions.length > 1">
                    <button type="button" data-toggle="dropdown"
                            class="btn btn-box-tool dropdown-toggle"
                            aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-gears fa-lg"></i>
                    </button>
                    <ul role="menu" class="dropdown-menu text-left submenu-config">
                        <li *ngFor="let key of actionPermissionKey()">
                            <a *ngIf="key == 'delete'"
                               data-toggle="modal" [attr.data-target]="'#modalDelete'"
                               (click)="dataSelect = data" href="#">
                                <i class="{{params.actions[key].icon}}"></i>
                                &nbsp;{{params.actions[key].title}}
                            </a>
                            <a *ngIf="key == 'onPatch' && params.actions[key].type=='boolean'"
                               (click)="onPatch(params.actions[key].field,data)">
                                <span class="{{params.actions[key].icon}}"></span>
                                {{data[key]?params.actions[key].titleTrue:params.actions[key].titleFalse}}
                            </a>
                            <a *ngIf="key == 'onLock'"
                               (click)="onLock('enabled',data)">
                                <span class="{{params.actions[key].icon}}"></span>
                                {{data.enabled?params.actions[key].titleTrue:params.actions[key].titleFalse}}
                            </a>

                            <a *ngIf="key == 'print'"
                               (click)="onPrint($event,data.id,params.actions[key].type,params.actions[key].endPoint)">
                                <span class="{{params.actions[key].icon}}"></span>
                                &nbsp;{{params.actions[key].title}}
                            </a>
                        </li>
                    </ul>
                </div>


                <div *ngIf="keyActions.length == 1" >

                   <div *ngFor="let key of actionPermissionKey()">
                       <a *ngIf="key == 'delete'"
                          data-toggle="modal" [attr.data-target]="'#modalDelete'"
                          (click)="dataSelect = data" href="#">
                           <i class="{{params.actions[key].icon}}"></i>
                           &nbsp;{{params.actions[key].title}}
                       </a>
                       <a *ngIf="key == 'onPatch' && params.actions[key].type=='boolean'"
                          (click)="onPatch(params.actions[key].field,data)">
                           <span class="{{params.actions[key].icon}}"></span>
                           {{data[key]?params.actions[key].titleTrue:params.actions[key].titleFalse}}
                       </a>
                       <a *ngIf="key == 'onLock'"
                          (click)="onLock('enabled',data)">
                           <span class="{{params.actions[key].icon}}"></span>
                           {{data.enabled?params.actions[key].titleTrue:params.actions[key].titleFalse}}
                       </a>
                       <a *ngIf="key == 'print'"
                          (click)="onPrint($event,data.id,params.actions[key].type,params.actions[key].endPoint)">
                           <span class="{{params.actions[key].icon}}"></span>
                           &nbsp;{{params.actions[key].title}}

                       </a>
                    </div>
                </div>

            </td>
        </tr>
    </tbody>
    <tfoot *ngIf="dataList && dataList.page && dataList.page.length > 1 ">
        <tr>
            <td [attr.colspan]="keyVisible().length + 1">
                <div class="btn-group pull-right">

                    <button *ngIf="MaxPager()>5" (click)="loadData(1)" type="button" class="btn btn-default">
                        <<
                    </button>
                    <button *ngFor="let val of dataList.page" (click)="loadData(val)" type="button" class="btn btn-default" [class.btn-info]="offset == (val - 1) * max">
                        {{val}}
                    </button>
                    <button (click)="loadAll($event)" type="button" class="btn btn-default">
                        <i class="fa fa-list"></i>
                    </button>
                    <button *ngIf="MaxPager()>5" (click)="loadData(MaxPager())" type="button" class="btn btn-default">
                        >>
                    </button>
                </div>
            </td>
        </tr>
    </tfoot>
</table>

<div *ngIf="params && params.actions && params.actions.delete && myglobal.existsPermission(params.actions.delete.permission)">
    <div class="modal fade" [attr.id]="'modalDelete'" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header btn-red text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;<i
                            class="fa fa-warning"></i></span></button>
                    <h4 class="modal-title" id="myModalLabel"><strong>ADVERTENCIA</strong></h4>
                </div>
                <div class="modal-body">
                    {{params.actions.delete.message}} <strong>'{{dataSelect[params.actions.delete.keyAction]}}' ?</strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outlined btn-red fa fa-close" data-dismiss="modal">&nbsp;Cancelar</button>
                    <button (click)="onDelete($event,dataSelect.id)" data-dismiss="modal" type="button"
                            class="btn btn-red fa fa-trash">&nbsp;Eliminar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="dataArraySelect && dataArraySelect.key" class="modal fade" [attr.id]="'modalArray'" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">


            <div class="modal-header btn-info text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="listasTipoModal">
                    &nbsp;<strong>{{rules[dataArraySelect.key].title}}</strong></h4>
            </div>
            <div class="modal-body">

                <div class="row">

                    <div class="col-lg-10 col-lg-offset-1">
                        <table class="table table-hover">
                            <tbody>

                            <tr *ngFor="let data of externalList[dataArraySelect.key].list" >
                                <td >
                                    <strong >{{data.title}}</strong><br >
                                    {{data.detail}}
                                </td>
                                <td  style="vertical-align: middle;">

                                    <a (click)="data.flag=!data.flag">
                                        <button *ngIf="data.flag"  class="btn btn-success"  type="button">
                                            <i class="fa fa-check"></i>
                                        </button>
                                        <button *ngIf="!data.flag" class="btn btn-red"  type="button">
                                            <i class="fa fa-close"></i>
                                        </button>
                                    </a>

                                </td>
                            </tr>

                            </tbody>
                        </table>

                    </div>

                </div>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outlined btn-info fa fa-close" data-dismiss="modal">&nbsp;Cancelar</button>
                <button (click)="changeArray()" data-dismiss="modal" type="button"
                        class="btn btn-info fa fa-check-circle-o ">&nbsp;Aceptart
                </button>
            </div>



        </div>
    </div>
</div>

<div *ngIf="dataSave && dataSave.params && dataSave.params.idModal">
    <save [rules]="dataSave.rules" [params]="dataSave.params" (save)="asignData($event)"> </save>
</div>

<div *ngIf="searchTable.idModal">
    <search [params]="searchTable" (result)="getDataSearch($event)"></search>
</div>

<div style="display: none;">
    <print></print>
</div>
<!--div>
    <filter [rules]="rules" [params]="paramsFilter" (whereFilter)="loadWhere($event)"></filter>
</div-->


