<div class="modal fade" id="{{params.idModal}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Buscar {{params.title}}</h4>
            </div>
            <div class="modal-body row">
                <form role="form" [ngFormModel]="form" (submit)="getSearch()">
                    <div class="col-lg-10 col-lg-offset-1 form-margin">
                        <div class="input-group input-group-sm">

                            <input ngControl="valueInput" class="form-control"
                                   [(ngModel)]="valueInput.value"
                                   placeholder="{{params.placeholder}}"
                                   type="text">
                            <span class="input-group-btn">
                                <button (click)="getSearch()" type="button" class="btn btn-info btn-flat">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
                <div *ngIf="dataList.count" class="col-lg-10 col-lg-offset-1">
                    <table class="table table-hover">
                        <tbody>
                        <tr *ngFor="let data of dataList.list">
                            <td>
                                <img *ngIf="data.image" [src]="data.image" style="display: inline-block" class="img-responsive img-search">
                                <i *ngIf="data.icon" class="i-search {{data.icon}}" ></i>
                            </td>
                            <td>
                                <strong>{{params.label.title}} {{data.title}}</strong><br>
                                {{params.label.detail}} {{data.detail}}
                            </td>
                            <td style="vertical-align: middle;">
                                <button (click)="getData(data)" data-dismiss="modal" type="button" class="btn btn-success">
                                    <i class="fa fa-check"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="!dataList.count" class="col-lg-10 col-lg-offset-1">
                    {{dataList.count==0?"No se ha encontrado ning&uacute;n resultado":"Ingrese valor para buscar"}}
                </div>

            </div>
            <div class="modal-footer">
                    <div *ngIf="dataList.page && dataList.page.length > 1 && dataList.count > 0" class="btn-group pull-right">
                        <button (click)="loadData(val)" *ngFor="let val of dataList.page" type="button" class="btn btn-default">
                            {{val}}
                        </button>
                    </div>
            </div>
        </div>
    </div>
</div>
