<div class="modal fade" [attr.id]="params.idModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" [class.modal-lg]="search.object" >
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{params.title}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form" [ngFormModel]="form"  [class.col-lg-7]="search.object">
                            <div *ngFor="let key of keys">
                                <div *ngIf="!rules[key].object || (rules[key].object && myglobal.existsPermission(rules[key].permissions))" class="col-lg-12">
                                    <div class="form-group input-icon right" *ngIf="!rules[key].hidden">
                                        <div class="col-lg-12">
                                            <div class="row" *ngIf="rules[key].type!='image'">
                                                <div [class.col-lg-12]="!rules[key].object" [class.col-lg-10]="rules[key].object" >
                                                    <div class="input-group input-icon right form-group">
                                                        <i class="{{rules[key].icon}} z-index"></i>
                                                        <span class="input-group-addon" [attr.id]="key">{{rules[key].title}}
                                                        <label *ngIf="rules[key].required" class="text-red">&nbsp;*</label>
                                                        </span>
                                                        <input *ngIf="rules[key].type == 'text' || rules[key].type == 'number' || rules[key].type == 'email' || rules[key].type == 'password'" ngControl="{{key}}" class="form-control"
                                                               [(ngModel)]="data[key].value"
                                                               placeholder="{{rules[key].placeholder}}"
                                                               type="{{rules[key].type}}" [attr.aria-describedby]="key">

                                                        <textarea *ngIf="rules[key].type == 'textarea'" ngControl="{{key}}" class="form-control"
                                                                  [(ngModel)]="data[key].value"
                                                                  placeholder="{{rules[key].placeholder}}">

                                                        </textarea>

                                                        <select *ngIf="rules[key].type == 'select'" [(ngModel)]="data[key].value"  (ngModelChange)="setValueSelect($event,key)"  sm-dropdown class="ui fluid search selection dropdown">
                                                            <option data-hidden="true"></option>
                                                            <option *ngFor="let n of rules[key].source"  [attr.value]="n.id" >{{n.text}}</option>
                                                        </select>

                                                        <div [hidden]="data[key].valid ||data[key].pristine" class="alert alert-danger">
                                                            <div *ngFor="let error of getKeys(data[key].errors || {})">
                                                                {{rules[key].msg.errors[error] || 'El campo contiene errores'}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="rules[key].object" class="col-lg-2 padding-top-4">
                                                    <button *ngIf="rules[key].object"
                                                            class="btn btn-box-tool fa fa-search text-blue"
                                                            (click)="getLoadSearch($event,rules[key])">
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="row padding-bottom-4" *ngIf="rules[key].type=='image'">
                                                <div class="col-lg-10 col-lg-offset-1">
                                                    <div x-cropit id="image-cropper" (saveImagen)="changeImage($event,key)">
                                                        <div class="cropit-preview center-block"></div>
                                                        <div class="col-lg-12" style="margin-top: 10pt;">
                                                            <div class="col-lg-6">
                                                                <input type="range" class="cropit-image-zoom-input" />
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <input x-file type="file" class="cropit-image-input" />
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="center-block">
                                                                <button class="btn btn-success fa fa-rotate-left rotate-ccw"></button>
                                                                <button class="btn btn-success fa fa-rotate-right rotate-cw"></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="rules[key].object && !myglobal.existsPermission(rules[key].permissions)" class="col-lg-12">
                                    {{rules[key].msg.notAuthorized || 'Acceso no autorizado'}}
                                </div>
                            </div>
                        </form>
                        <div [class.col-lg-5]="search.object" *ngIf="search.object">
                            <form role="form" (submit)="getSearch($event,find.value)">
                                <div class="col-lg-12 form-margin">
                                    <strong>{{search.title}}</strong><br/>
                                    <div class="input-group input-group-sm">
                                        <input #find type="text" class="form-control"
                                               placeholder="{{ search.placeholder}}" value="{{findControl}}">
                                            <span class="input-group-btn">
                                                <button (click)="getSearch($event,find.value)" type="button"
                                                        class="btn btn-info btn-flat">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                                <button (click)="searchQuit($event)" type="button"
                                                        class="btn btn-red btn-flat">
                                                    <i class="fa fa-close"></i>
                                                </button>
                                            </span>
                                    </div>
                                </div>
                            </form>
                            <div *ngIf="dataList.count" class="col-lg-12">
                                <table class="table table-hover">
                                    <tbody>
                                    <tr *ngFor="let data of dataList.list" (click)="getDataSearch(data)">
                                        <td>
                                            <img [src]=" data.image || search.paramsSearch.imageGuest "
                                                 style="display: inline-block" class="img-responsive img-search">
                                        </td>
                                        <td>
                                            <strong>{{search.paramsSearch.label.title}} {{data.title}}</strong><br>
                                            {{search.paramsSearch.label.detail}} {{data.detail}}
                                        </td>
                                        <td style="vertical-align: middle;">
                                            <i class="btn btn-box-tool text-green fa fa-check"></i>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div *ngIf="!dataList.count" class="col-lg-12">
                                {{dataList.count==0?"No se ha encontrado ningún resultado":"Ingrese valor para buscar"}}
                            </div>
                            <div class="col-lg-12">
                                <div *ngIf="dataList.page && dataList.page.length > 1 && dataList.count > 0"
                                     class="btn-group pull-right">
                                    <button (click)="loadData(val)" *ngFor="let val of dataList.page"
                                            type="button" class="btn btn-default">
                                        {{val}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="submitForm($event)" data-dismiss="modal" type="button" class="btn btn-primary"
                        id="cntrlsubmit" [disabled]="!form.valid">
                    <i class="fa fa-save"></i>
                    Registrar
                </button>
            </div>
        </div>
    </div>
</div>