<div class="modal fade" [attr.id]="params.idModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" [class.modal-lg]="search.object" >
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{params.title}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 margin-bottom">
                        <form role="form" [ngFormModel]="form"  [class.col-lg-7]="search.object">
                            <div *ngFor="let key of keys">
                                <div *ngIf="rules[key].search">
                                    <div class="col-lg-12">
                                        <div class="form-group input-icon right row">
                                            <div class="col-lg-8">
                                                <div class="row">
                                                    <div class="col-lg-10">
                                                        <div class="row" [class.object-invalid]="
                                                            rules[key].object && data[key].value.length > 0 &&
                                                            ((searchId[key] && searchId[key].detail != data[key].value) || !searchId[key])
                                                        ">
                                                            <i class="{{rules[key].icon || 'fa fa-list'}}"></i>
                                                            <input ngControl="{{key}}" class="form-control"
                                                                   [(ngModel)]="data[key].value"
                                                                   placeholder="{{rules[key].placeholder}}"
                                                                   type="{{rules[key].type}}">
                                                            <div [hidden]="data[key].valid ||data[key].pristine"
                                                                 class="alert alert-danger">
                                                                El campo contiene errores
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 padding-top-4">
                                                        <button *ngIf="rules[key].object"
                                                                class="btn btn-box-tool fa fa-search text-blue"
                                                                (click)="getLoadSearch($event,rules[key])">
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <select [(ngModel)]="data[key+'Cond'].value"
                                                        (ngModelChange)="setCondicion($event,key)" sm-dropdown
                                                        class="ui fluid search selection dropdown">
                                                    <option *ngFor="let n of cond[rules[key].object?'object':rules[key].type]"
                                                            [attr.value]="n.id">{{n.text}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                        <div [class.col-lg-5]="search.object" *ngIf="search.object">
                            <form role="form" (submit)="getSearch($event,find.value)">
                                <div class="col-lg-12 form-margin">
                                    <strong>{{search.title}}</strong><br/>
                                    <div class="input-group input-group-sm">
                                        <input #find type="text" class="form-control"
                                               placeholder="{{ search.placeholder}}" value="{{findControl}}">
                                            <span class="input-group-btn">
                                                <button (click)="getSearch($event,find.value)" type="button"
                                                        class="btn btn-info btn-flat">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                                <button (click)="searchQuit($event)" type="button"
                                                        class="btn btn-red btn-flat">
                                                    <i class="fa fa-close"></i>
                                                </button>
                                            </span>
                                    </div>
                                </div>
                            </form>
                            <div *ngIf="dataList.count" class="col-lg-12">
                                <table class="table table-hover">
                                    <tbody>
                                    <tr *ngFor="let data of dataList.list" (click)="getDataSearch(data)">
                                        <td>
                                            <img [src]=" data.image || search.paramsSearch.imageGuest "
                                                 style="display: inline-block" class="img-responsive img-search">
                                        </td>
                                        <td>
                                            <strong>{{search.paramsSearch.label.title}} {{data.title}}</strong><br>
                                            {{search.paramsSearch.label.detail}} {{data.detail}}
                                        </td>
                                        <td style="vertical-align: middle;">
                                            <i class="btn btn-box-tool text-green fa fa-check"></i>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div *ngIf="!dataList.count" class="col-lg-12">
                                {{dataList.count==0?"No se ha encontrado ningún resultado":"Ingrese valor para buscar"}}
                            </div>
                            <div class="col-lg-12">
                                <div *ngIf="dataList.page && dataList.page.length > 1 && dataList.count > 0"
                                     class="btn-group pull-right">
                                    <button (click)="loadData(max*(val-1))" *ngFor="let val of dataList.page"
                                            type="button" class="btn btn-default">
                                        {{val}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12" >
                        <div class="box box-success collapsed-box" *ngIf="searchId && searchLength() > 0">
                            <div class="box-header">
                                <h3 class="box-title">Detalles</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <div class="box-body" style="display: none;">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Campo</th>
                                            <th>Detalle</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let key of searchIdKeys()">
                                            <td>{{rules[key].title || key}}</td>
                                            <td>
                                                {{rules[key].paramsSearch.label.title}}{{searchId[key].title}}, {{rules[key].paramsSearch.label.detail}}{{searchId[key].detail}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="onReset($event)"type="reset" class="btn btn-primary">
                    <i class="fa fa-refresh"></i>
                    Limpiar
                </button>
                <button (click)="submitForm($event)" data-dismiss="modal" type="button" class="btn btn-success"
                        id="cntrlsubmit" [disabled]="!form.valid">
                    <i class="fa fa-filter"></i>
                    Filtrar
                </button>
            </div>
        </div>
    </div>
</div>
