<div class="content-wrapper">
    <section class="content">
        <div class="box">

            <div class="box-body">


                <div class="col-lg-12">
                    <div class="portlet box portlet-green">
                        <div class="portlet-header">
                        </div>
                        <div class="portlet-body">
                            <div id="rootwizard-custom-circle">
                                <div class="navbar">
                                    <div class="navbar-inner">
                                        <ul class="bwizard-steps-o">
                                            <li  style=" margin-left: 25%;" [class.active]="positionForm==1" data-toggle="modal" [attr.data-target]="'#IdWarning'" ><a data-toggle="tab"><i class="glyphicon glyphicon-user"></i>
                                                <p class="anchor">1 .- Usuario y Acci&oacute;n</p>
                                                <p class="description"></p></a></li>
                                            <li  [class.active]="positionForm==2 " (click)="inc(null,2)"><a data-toggle="tab"><i class="glyphicon glyphicon-send mln"></i>
                                                <p class="anchor">2.- Registro y Validaci&oacute;n</p>
                                                <p class="description"></p></a></li>
                                            <li  [class.active]="positionForm==3" (click)="inc(null,3)"><a data-toggle="tab"><i class="glyphicon glyphicon glyphicon-list"></i>
                                                <p class="anchor">3.- Resultados</p>
                                                <p class="description"></p></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="bar" class="progress active">
                                    <div class="bar progress-bar progress-bar-primary" [style.width.%]="100/3*positionForm"></div>
                                </div>
                                <div class="tab-content" [ngSwitch]="positionForm">

                                    <div *ngSwitchWhen="1" >

                                        <form action="#" class="form-horizontal ng-pristine ng-valid">


                                            <div class="col-lg-12">

                                                <div class=" form-group col-lg-5">
                                                    <div *ngIf="dataList.list" class="form-group">
                                                        <label >Tipo de acci&oacute;n:</label>
                                                        <select [(ngModel)]="tipoAccion_2" (ngModelChange)="setTipoAccion($event)" sm-dropdown class="ui fluid search selection dropdown">

                                                            <option value="-1">Seleccione un valor</option>
                                                            <option *ngFor="let data of dataList.list" [attr.value]="data.id">{{data.title}}</option>
                                                        </select>
                                                    </div>
                                                </div>


                                                <div class=" form-group col-lg-5 pull-right">
                                                    <div *ngIf="dataList.list && listClient.list" class="form-group">

                                                        <div *ngIf="!tipoAccion.valid" ><label>Por favor Ingrese un tipo de accion valida</label></div>
                                                        <div *ngIf="tipoAccion.valid" >

                                                            <label class="text-blod">Seleccione el proveedor o cliente :</label>
                                                            <select [(ngModel)]="tipoAccion_2" (ngModelChange)="changeClients($event)" sm-dropdown class="ui fluid search selection dropdown">

                                                                <option value="-1">Seleccione un valor</option>
                                                                <option *ngFor="let data of listClient.list" [attr.value]="data.id">{{data.title}}</option>
                                                            </select>

                                                        </div>

                                                    </div>
                                                </div>


                                            </div>




                                        </form>
                                    </div>
                                    <div *ngSwitchWhen="2"  >


                                        <div class="row mbxl">

                                                <label class="col-lg-5 text-center" style="font-size: 18px"><strong class="text-bold"> Ubicacion actual: </strong> {{lastLocaltion && lastLocaltion.name?lastLocaltion.name:'Ubicacion no cargada' }}</label>

                                                <label class="col-lg-5 pull-right" style="font-size: 18px"><strong class="text-bold"> Acci&oacute;n actual: </strong> {{accionList}}</label>

                                        </div>



                                        <form class="row" role="form" [ngFormModel]="form_operation[1]" (submit)="getResult($event)">
                                            <button class="hidden" (submit)="getResult($event)"></button>
                                            <div class="col-lg-5">
                                                <div class="form-group">
                                                    <label for="usr" class="text-bold">Codigo de Barras:</label>
                                                    <input ngControl="producto" class="form-control" type="text" id="usr">
                                                </div>
                                            </div>

                                            <div class="row col-lg-12">

                                                <div class="col-lg-6">
                                                    <div class="box">
                                                        <div class="box-header">
                                                            <h3 class="text-center text-bold">Ubicacion y Produto</h3>
                                                        </div>
                                                        <div class="box-body">
                                                            <table class="table table-striped table-hover text-center">
                                                                <thead>
                                                                <tr>
                                                                    <td>Item</td><td>Producto</td><td>Ubicacion</td><td class="col-lg-1"></td>
                                                                </tr>
                                                                </thead>
                                                                <tbody >
                                                                <tr *ngFor="let carga of listAccion" data-toggle="tooltip" [attr.title]="carga.msj" [class.success]="carga.Status" [class.danger]="!carga.Status">
                                                                    <td>{{carga.item}}</td><td>{{carga.Producto.name?carga.Producto.name:carga.Producto.code}}</td><td>{{carga.Ubicacion.name}}</td><td><input type="checkbox" [disabled]="!carga.Status" [checked]="carga.Validate" (click)="unSelect(carga)" ></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="box">
                                                        <div class="box-header">
                                                            <div class="col-lg-12">
                                                                <h3 class="text-center text-bold">Validaci&oacute;n</h3>
                                                            </div>

                                                            <div class="col-lg-12">
                                                                <label class="col-lg-4">{{currentDay}}</label>
                                                                <label class="col-lg-4">{{myglobal.user.name}}</label>
                                                                <label class="col-lg-4">{{user.value.title}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="box-body">
                                                            <table class="table table-striped table-hover text-center">
                                                                <thead>
                                                                <tr>
                                                                    <td>Item</td><td>Producto</td><td>Total</td>
                                                                </tr>
                                                                </thead>
                                                                <tbody >
                                                                <tr *ngFor="let key of getValidateListWithCount()" data-toggle="tooltip" [attr.title]="'Codigo del producto: '+listAccionArray[key].Producto.code">
                                                                    <td  class="col-lg-1">{{listAccionArray[key].item}}</td><td>{{listAccionArray[key].Producto.name}}</td><td>{{listAccionArray[key].cantidad}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">Total de Productos</td><td class="text-bold">{{totalProduct}}</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            </form>

                                    </div>

                                    <div *ngSwitchWhen="3"  >
                                        <form action="#" class="form-horizontal ng-pristine ng-valid">
                                            <a class="btn"  style="margin-bottom: 30px;"  (click)="onPrint('finalPrint')">
                                                <span class="fa fa-print"></span>
                                                &nbsp;Imprimir resultado
                                            </a>
                                            <div class="form-group">




                                                <div style="display: none;">
                                                   <div id="finalPrint" class=" row box " >
                                                        <div [attr.class]="onPrintCss(12)">
                                                            <div class="row">
                                                                <div [attr.class]="onPrintCss(5)">
                                                                    <img src="/img/logo.png">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <h1 class="text-bold text-center" style="font-size: 20px; margin-bottom: 30px;">Acta de Entrega</h1>
                                                            </div>
                                                            <div class="row" style="margin-bottom: 30px;">
                                                                <div [attr.class]="onPrintCss(6)">
                                                                    <label>Date :  {{currentDay}}</label>
                                                                </div>
                                                                <div [attr.class]="onPrintCss(6)">
                                                                    <label [attr.class]="onPrintCss(12)">Invoice No. {{lote}}</label>
                                                                    <label [attr.class]="onPrintCss(12)">Orden de Compra</label>
                                                                </div>

                                                            </div>


                                                            <div class="row" style="margin-bottom: 30px">

                                                                <table [attr.class]="onPrintCss(12)">
                                                                    <thead>
                                                                    <tr>
                                                                        <td [attr.class]="onPrintCss(5)" style="border: 1px solid;">{{tipoAccion.value==1?'Cliente':'Proveedor'}}</td><td [attr.class]="onPrintCss(2)"></td><td [attr.class]="onPrintCss(5)" style="border: 1px solid;">Empresa</td>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody class="borderclass">
                                                                    <tr>
                                                                        <td [attr.class]="onPrintCss(5)"><label class="test-bold">Nombre : </label>{{elementPrint[0].name}}</td><td></td><td [attr.class]="onPrintCss(5)"><label class="test-bold">Nombre : </label>{{elementPrint[1].name}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td [attr.class]="onPrintCss(5)"><label class="test-bold">Ruc : </label>{{elementPrint[0].ruc}}</td><td></td><td [attr.class]="onPrintCss(5)"><label class="test-bold">Ruc : </label>{{elementPrint[1].ruc}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td [attr.class]="onPrintCss(5)"><label class="test-bold">Direccion : </label>{{elementPrint[0].direc}}</td><td></td><td [attr.class]="onPrintCss(5)"><label class="test-bold">Direccion : </label>{{elementPrint[1].direc}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td [attr.class]="onPrintCss(5)"><label class="test-bold">Telefono : </label>{{elementPrint[0].contac}}</td><td></td><td [attr.class]="onPrintCss(5)"><label class="test-bold">Contacto : </label>{{elementPrint[1].contac}}</td>
                                                                    </tr>

                                                                    <tr >
                                                                        <td style="border-top: 1px solid;" class="NoBorder"></td><td></td><td style="border-top: 1px solid;" class="NoBorder"></td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>

                                                            </div>

                                                            <div class="row" style="margin-bottom: 30px">
                                                                <div class=" col-lg-5 col-md-5 col-xs-5 col-sm-5 pull-right" >
                                                                    <table>
                                                                        <tr>
                                                                            <td ><div style="margin: 5px">Despachador: </div></td><td > <div style="margin: 5px">{{myglobal.user.name}}</div></td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </div>

                                                            <div class="row" style="margin-bottom: 30px">
                                                                <table [attr.class]="onPrintCss(12)"  border="1" style=" border: 1px solid;">
                                                                    <thead >
                                                                    <tr style=" border: 1px solid;">
                                                                        <th style=" border: 1px solid;" class="col-lg-1">Cantidad</th><th class="text-center" style=" border: 1px solid;">Descripcion</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr *ngFor="let result of printReport()" style=" border: 1px solid;">
                                                                        <td  [attr.class]="onPrintCss(1)" style=" border: 1px solid;">{{result.count}}</td><td [attr.class]="onPrintCss(11)" style=" border: 1px solid;">{{result.title}}</td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                            <div class="row" style="margin-bottom: 30px">
                                                                <div [attr.class]="onPrintCss(6)">
                                                                    <label [attr.class]="onPrintCss(12)" >RECIVIDO POR: </label>
                                                                    <label [attr.class]="onPrintCss(12)" >NOMBRE:    _____________________</label>
                                                                    <label [attr.class]="onPrintCss(12)" >FECHA:     _____________________</label>
                                                                    <label [attr.class]="onPrintCss(12)" >FIRMA:     _____________________</label>
                                                                    <label [attr.class]="onPrintCss(12)" >CEDULA:    _____________________</label>
                                                                </div>
                                                                <div [attr.class]="onPrintCss(6)">
                                                                    <label [attr.class]="onPrintCss(12)" >ENTREGADO POR:</label>
                                                                    <label [attr.class]="onPrintCss(12)" >NOMBRE:    _____________________</label>
                                                                    <label [attr.class]="onPrintCss(12)" >FECHA:     _____________________</label>
                                                                    <label [attr.class]="onPrintCss(12)" >FIRMA:     _____________________</label>
                                                                    <label [attr.class]="onPrintCss(12)" >CEDULA:    _____________________</label>

                                                                </div>
                                                            </div>


                                                        </div>

                                                    </div>
                                                </div>



                                                <div class="row col-lg-12" *ngIf="listResult.length > 0">

                                                    <div *ngFor="let result of listResult"  class="row">

                                                        <div *ngIf="result.count > 0">

                                                            <label class="col-lg-12" ><strong class="text-bold">Acci&oacute;n: </strong>{{result.status}}</label>
                                                            <label class="col-lg-12"><strong class="text-bold">Total: </strong>{{result.count}}</label>

                                                            <div *ngFor="let casillero of result.casillero" class="col-lg-5">
                                                                <div class="box">


                                                                    <div class="box-header">
                                                                        <label ><strong class="text-bold">Ubicaci&oacute;n: </strong>{{casillero.title}}</label>
                                                                        <label ><strong class="text-bold">Cantidad: </strong>{{casillero.count}}</label>
                                                                        <br>
                                                                    </div>
                                                                    <div  class="box-body"  >

                                                                        <table class="table table-striped table-hover text-center ">
                                                                            <thead>
                                                                            <tr>
                                                                                <td>Producto</td><td>Cantidad</td><td *ngIf="result.status =='FAILED'">Error</td>
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody >
                                                                            <tr *ngFor="let accion of casillero.acciones" data-toggle="tooltip" [attr.title]="'Codigo de prodcuto: '+accion.codigo">
                                                                                <td>{{accion.name}}</td><td>{{accion.count}}</td><td *ngIf="accion.message"><label class="col-lg-12" *ngFor=" let error of accion.message.errors">{{error.message}}</label></td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>

                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>



                                            </div>
                                        </form>
                                    </div>

                                </div>

                                <div class="action text-right">
                                    <button *ngIf="positionForm!=2"  [disabled]="positionForm==1"        (click)="inc(2)" type="button" name="previous" value="Anterior" class="btn btn-info button-previous"><i class="fa fa-arrow-circle-o-left mrx"></i>{{positionForm !=3?'Anterior':'Nueva Carga'}}</button>
                                    <button *ngIf="positionForm==2"  data-toggle="modal" [attr.data-target]="'#IdWarning'"  [disabled]="positionForm==1"   type="button" name="previous" value="Anterior" class="btn btn-info button-previous"><i class="fa fa-arrow-circle-o-left mrx"></i>Anterior</button>

                                    <button [class.hidden]="positionForm >= 2"  (click)="inc(1)" type="button"  name="next" value="Siguiente" class="btn btn-info button-next mlm">Siguiente<i class="fa fa-arrow-circle-o-right mlx"></i></button>
                                    <button [class.hidden]="positionForm != 2"   data-toggle="modal" data-target='#modalAcept' type="button" name="next" value="Guardar" class="btn btn-success button-next mlm">Guardar <i class="fa fa-save"></i></button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" [attr.id]="'IdWarning'" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header btn-red text-center">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel"><i
                                        class="fa fa-warning"></i>&nbsp;<strong>ADVERTENCIA</strong></h4>
                            </div>
                            <div class="modal-body">
                                Perdera todos los datos si continua con esta accion
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outlined btn-red fa fa-close" data-dismiss="modal">&nbsp;Cancelar</button>
                                <button (click)="onDelete($event)" data-dismiss="modal" type="button"
                                        class="btn btn-red fa fa-trash">&nbsp;Aceptar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </section>
</div>





<div  class="modal fade" id="modalAcept" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">


            <div class="modal-header btn-warning text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>

                </button>
                <h3>¿Esta seguro de proceder?</h3>
            </div>
            <div class="modal-body">

                <div class="row">

                    <div class="col-lg-10 col-lg-offset-1">
                        <label>Si acepta estas acciones no podran ser desechas</label>
                    </div>

                </div>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outlined btn-warning fa fa-close" data-dismiss="modal">&nbsp;Cancelar</button>
                <button (click)="saveResult($event)" data-dismiss="modal" type="button"
                        class="btn btn-warning fa fa-check-circle-o ">&nbsp;Aceptart
                </button>
            </div>



        </div>
    </div>
</div>

