<div class="content-wrapper">
    <section class="content">
        <div class="box">
            <div >
                <div class="box-header">
                    <h3 class="box-title">{{viewOptions.title | translate }}</h3>

                <div class="pull-right" *ngIf="viewOptions['button']">
                    <button *ngFor="let buttom of viewOptions['button']"
                            class="{{buttom.class}}" type="button" data-toggle="modal"
                            [attr.data-target]="'#'+buttom.modal">
                        <i class="{{buttom.icon}}"></i>
                        {{buttom.title | translate}}
                    </button>
                </div>
            </div>
            </div>
            <div *ngIf="permissions.list"  class="box-body">

                <div>

                    <less-list [paramSearch]="paramsSearch" [externalEndPoint]="endpoint" [rulesDetails]="rules" [externalList]="externalList"></less-list>
                    <!--card [dataList]="dataList" [rules]="rules" [params]="viewCardOption" ></card!-->
                </div>
                <div *ngIf="dataList && dataList.count == 0">
                    <div class="alert alert-warning alert-dismissable">
                        <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
                        <strong><i class="fa fa-warning"></i></strong> {{viewOptions.errors.notFound}}
                    </div>
                </div>
            </div>

            <div *ngIf="!permissions.list">
                <div class="btn-red padding-error">
                    <h5><i class="fa fa-warning"></i>&nbsp;<strong>ADVERTENCIA</strong></h5>
                    {{viewOptions.errors.list}}
                </div>
            </div>

        </div>
    </section>
</div>
<save [rules]="rulesSave" [params]="paramsSave" (save)="asignData($event)"> </save>
