
            <div class="box-header">
                <h3 class="box-title">{{viewOptions.title | translate }}</h3>
            </div>







            <div class="row">
                <div class="col-lg-12">



                    <div class="col-lg-5 pull-right" *ngIf="viewOptions.gruopOptions && !(disabledRange ==-2 || disabledRange== 1)">
                        <h3 class="text-bold"> Agrupar:</h3>
                        <div class="col-lg-12">
                            <label>Dia: <input  type="checkbox" (change)="changeGroupBy(1)" ></label>
                            <label>Mes: <input type="checkbox"  (change)="changeGroupBy(2)"></label>
                            <label>Año: <input type="checkbox"  (change)="changeGroupBy(3)"></label>
                        </div>
                    </div>


                    <form role="form" [ngFormModel]="form" (submit)="assignDate($event)">


                        <div class="form-group input-icon right col-lg-2">
                            Lapso
                            <div class="input-icon right">
                                <select [(ngModel)]="fechaSelect"  (ngModelChange)="setFecha($event)"  sm-dropdown class="ui fluid search selection dropdown">
                                    <option data-hidden="true" value="-2">Dia exacto</option>
                                    <option data-hidden="true" value="-1">Rango</option>
                                    <option *ngFor="let n of itemsFecha"  [attr.value]="n.id" >{{n.text}}</option>
                                </select>

                            </div>




                        </div>
                        <div [hidden]="disabledRange!=-1" class="col-lg-4" style="margin-top: 20px;">
                            <div daterangepicker [params]="paramsDate" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%" (fecha)="assignDate($event)">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                <span>{{(date.start || 'Inicio') +' - '+ (date.end || 'Fin') }}</span> <b class="caret"></b>
                            </div>
                        </div>

                        <div  [hidden]="disabledRange!=-2" class="form-group input-icon right col-lg-3">
                            Fecha
                            <div class="input-icon right">
                                <i class="glyphicon glyphicon-calendar"></i>
                                <input datepicker [format]="formatDateFact" (fecha)="loadFechaFac($event)" accesskey="1" value="Periodo inicial" type="text" class="form-control">
                            </div>
                        </div>

                        <div *ngIf="rechargeTypes && rechargeTypes.list" class="form-group input-icon right col-lg-2">
                            Tipo de recarga
                            <select [(ngModel)]="typeSelect"  (ngModelChange)="setType($event)"  sm-dropdown class="ui fluid search selection dropdown">
                                <option data-hidden="true" value="-1" >Todos</option>
                                <option *ngFor="let n of rechargeTypes.list"  [attr.value]="n.id" >{{n.title}}</option>
                            </select>
                        </div>
                        <div [hidden]="disabledRange!=-2  && !viewOptions.multiselect" class="col-lg-2 center-margin padding-top" style="margin-top: 18px;">
                            <button (click)="fromButton($event)" type="button" class="btn btn-success pull-right"
                                    id="cntrlsubmit" >
                                <i class="fa fa-bank"></i>
                                Consultar
                            </button>
                        </div>

                    </form>
                </div>
            </div>
            <div *ngIf="listType && listType.count >0 && viewOptions.listTypeTitle " class="row">
                <div class="col-lg-4 ">

                    <div class=" col-lg-offset-1 input-icon pull-left" style="margin-bottom: 30px">
                        <label >{{viewOptions.listTypeTitle}}: </label>
                        <select  *ngIf="!viewOptions.multiselect" [(ngModel)]="tipoAccion_2" (ngModelChange)="setTypeSelect($event)"  sm-dropdown class="ui fluid search selection dropdown">
                            <option *ngFor="let data of listType.list" [attr.value]="data.id">{{data.title}}</option>
                        </select>


                            <select *ngIf="viewOptions.multiselect" select-2 class="js-example-basic-multiple js-states form-control"  multiple="multiple" [data]="viewOptions.multiselect.source" [placeholder]="viewOptions.multiselect.placeholder"
                                    [elements]="listSelect" ></select>


                    </div>

                </div>
            </div>



            <div *ngIf=" dataList && dataList.count > 0 " (click)="checkEndPoint()">



                <div class="col-lg-12">
                    <h3 class="text-bold">Resultados</h3>
                    <h3 ><strong class="text-bold">Fecha del reporte </strong> :{{visualDate}}</h3>

                </div>
                <tables [dataList]="dataList" [rules]="rules"  [params]="paramsTable" [rulesSearch]="rulesSearch" [where]="where" ></tables>

            </div>


            <div *ngIf="!permissions.list">
                <div class="btn-red padding-error">
                    <h5><i class="fa fa-warning"></i>&nbsp;<strong>ADVERTENCIA</strong></h5>
                    {{viewOptions.errors.list}}
                </div>
            </div>
